.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.box {
    height: 2dvh;
    border: 2px solid black;
}

.box1 {
    grid-column: span 2;
    background-color: green;
}

.box2 {
    background-color: yellow; 
}

.box3 {
    background-color: blue;
}

.box4 {
    background-color: yellow; 
}

.box5 {
    background-color: red; 
    
}
