.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    border: 2px solid black;
}

.box1 {
    background-color: rgb(244, 244, 137);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: auto;
    height: 50px;
}

.box2 {
    background-color: rgb(214, 143, 11);
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.box3 {
    background-color: rgb(78, 156, 78);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box4 {
    background-color: rgb(177, 173, 173);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.box5 {
    background-color: rgb(102, 152, 169);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.box6 {
    background-color: rgb(70, 70, 171);
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    width: auto;
    height: 50px;
}
