header{
    background-color: aquamarine;
    margin: -10px;

}
header ul {
    display: flex;
    list-style: none;
    padding: 1rem;
    align-items: center;
    margin: 0;
}

header li {
    margin: 0 1.5rem;
    font-weight: bold;
}
header li.logo {
    margin-right: auto;
}
header img.logo {
    width: 100px;
}